html, body{
  margin:0;
  padding:0;
}

/* Start of Header */
header{
  padding:0;
  margin:0;
  display:grid;
  grid-template-rows: auto auto;
}

a{
  text-decoration:underline;
  color:black;
  gap:100px;
}

a:hover{
  color:brown;
}

#hero-banner, #banner-text{
  height: 50vh;
  width: 100vw;
  margin:0;
  padding:0;
  grid-area:1/1;
}

#banner-text{
  color:white;
  font-size:10em;
  text-align:center;
  align-content:center;
}

nav{
  justify-content: center;
  justify-self:center;
  text-decoration:none;
  padding:10px;
  font-size:1.5em;
  display:flex;
  gap:2em;
}

/* Start of Main */
main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin-left: 5em;
  margin-right:5em;
}

.page-top-info{
  text-align:center;
  grid-row:1;
  grid-column: 1/3;
}

.page-top-info p{
  font-size:1.5em;
}

.video{
  grid-column:1;
  grid-row:2;
  max-width: 40vw;
  border-radius:10px;
}

.right-main{
  padding:1em;
  border-style:inset;
  display:grid;
  grid-template-rows:auto auto;
  grid-row:2;
  text-align:center;
  font-size:1.2em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.get-started{
  grid-row:2;
}

.text-instructions{
  grid-row:1;
}

footer p{
  margin-left:5px;
}

footer{
  display:flex;
  color:rgb(255 255 255);
  background-color:rgb(36 37 37);
  justify-content: center;
  margin-top:10px;
}


@media screen and (width <= 768px) {
  /* Styles applied when the screen width is 768px or more */
  #banner-text{
    font-size:4em;
  }

  .page-top-info{
    font-size:1em;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh; /* optional if you want vertical centering too */
  }

  .video {
    max-width: 80vw;
    height: auto;
  }

  .right-main{
    margin-top:10px;
  }

}